.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 15px;
  }

  .auth-form {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;

    background: linear-gradient(315deg, #f88c01 3%, var(--color-blue) 38%, #f88c01 68%, #213 98%);
    animation: gradient 15s ease infinite;

    background-size: 400% 400%;
    background-attachment: fixed;
  }


  @keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
  }

  .auth-input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.2s;
  }

  .auth-input:focus {
    border-color: var(--color-orange);
    outline: none;
  }

  .auth-button {
    padding: 0.75rem;
    background-color: var(--color-orange);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .auth-button:hover {
    background-color: var(--color-blue);
  }

  .auth-title {
    margin-bottom: 1rem;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: var(--color-white);
  }

  .auth-link {
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s;
  }

  .auth-link:hover {
    color: var(--color-orange);
  }

  .btw-text-tip {
    margin-top: 15px;
  }

  .btw-text-tip p {
    text-align: right;
    color: #ccc;
  }

  .main-logo-footer {
    text-align: center;
  }