.navbar {
    background-color:#32acc0;
    color: white;
    padding: 1rem;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* max-width: 900px; */
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
  }

  .nav-link a {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 25px;
    font-family: var(--font-mono);
  }

  .nav-link:hover {
    background-color: orange;
    border: 1px solid white;
  }

  .logo-container {
    display: flex;
    align-items: center;
    padding: 12px;
  }
  .logo-container img {
    margin-left: -15px;
  }

  .flex-row-reverse {
    flex-direction: row-reverse;
  }

  .bg-red-500:hover {
    background-color: orange;
  }

