.navbar {
  background-color:var(--color-blue);
  color: var(--color-white);
  padding: 1rem;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(0 0 0.5rem var(--color-black));
  margin: 0 auto;
  position: fixed;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--color-white);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  border-radius: 12px;
}

.nav-link a {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 18px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: var(--color-orange);
  border: 1px solid var(--color-white);
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 12px;
}
.logo-container img {
  z-index: 1000;
  margin-left: -25px;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.bg-red-500:hover {
  background-color: var(--color-orange);
}

.profile-picture {
  position: absolute; 
  right: 45px; 
  top: 7px; 
  border-radius: 50%; 
  z-index: 2000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--color-white);
  cursor: pointer;
  background-color: var(--color-blue);
}
.profile-picture-user-menu {
  border-radius: 50%; 
  width: 100px;
  height: 100px;
}

.profile-role {
  position: absolute; 
  top: 5px; 
  right: 95px; 
}

.dropdownWrapper {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 70px;
  right: 15px;
  width: 250px;
  background: var(--background-black-transparent);
  color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 16px;
  z-index: 2000;

  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.dropdownVisible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdownHidden {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

.dropdownItem {
  margin-bottom: 10px;
}

.dropdownActions {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-orange);
  align-items: center;
}
.dropdownActions:last-child {
  border-bottom: none;
}

.dropdownLink {
  text-decoration: none;
  color: var(--color-white);
  font-size: 18px;
}

.dropdownLink:hover {
  text-decoration: underline;
}

.logoutButton {
  background-color: transparent;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
}

.logoutButton:hover {
  color: var(--color-white);
  transform: scale(1.05);
}








@keyframes pulseGlow {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
}




.notification-bell {
  font-size: 1.5rem;
  background: transparent;
  border: none;

  animation: pulseGlow 1.5s ease-in-out infinite;
  position: absolute;
  top: 35px;
  left: 90px;
  cursor: pointer;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: 20px;
  background: red;
  color: var(--color-white);
  font-size: 0.8rem;
  padding: 2px 6px;
  border-radius: 50%;
}

.notification-dropdown {
  position: absolute;
  top: 70px;
  left: 25px;
  width: 320px;
  height: auto;
  max-height: 200px;
  overflow-y: auto;
  background: var(--background-black-transparent);
  backdrop-filter: blur(50px); /* Apply the blur effect */
  border-radius: 8px;
  padding: 10px;
  color: var(--color-white);
  z-index: 9999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.notification-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.notification-dropdown li {
  padding: 5px 0;
  border-bottom: 1px solid #444;
}

.notification-dropdown li:last-child {
  border-bottom: none;
}

.notification-dropdown a {
  color: var(--color-white);
  text-decoration: none;
}

.notification-dropdown a:hover {
  text-decoration: underline;
}

.notification-dropdown li a {
  display: block;
  transition: opacity 0.3s ease;
}

.notification-dropdown li a:hover {
  text-decoration: underline;
  opacity: 1 !important;
  transform: scale(1.05);
  margin-left: 15px;
  transition: transform 0.2s ease;
  text-decoration: none;
  background-color: var(--color-orange);
  color: var(--color-white);
}

