/* RatingForm.module.css */

.form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: darkorange;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    overflow-y: scroll; /* Add this to make scrolling section */
    height: 490px; /* Add this to make scrolling section */
  }

  .formGroup {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #222;
  }
  
  .select,
  .toggle {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    background-color: white;
    color: #555;
  }
  
  .select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .toggleLabel {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: orange;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }

  .checkboxGroup {
    display: flex;
    flex-direction: column;
  }
  
  .checkboxLabel {
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
  }
  
  .checkboxLabel input {
    margin-right: 10px;
  }
  
  