/* Merged CSS File */

.form {
  overflow-y: scroll; /* Ensures scrolling section */
  height: 65vh; /* Takes the taller height */
  margin: 0 auto;
}

.form-wrapper {
  margin-top: 10px;
  width: 600px;
  margin: 0 auto;
  max-width: 100%;
}

.label {
  display: block;
  font-weight: bold;
  
  font-size: 14px;
  color: var(--color-white); /* From RatingForm */
}

.input,
.textarea,
.select,
.fileInput,
.toggle {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;

  background: var(--background-transparent); /* Semi-transparent background */
  backdrop-filter: blur(100px); /* Apply the blur effect */

  color: var(--color-orange);
  transition: border-color 0.3s ease;
}

.input:focus,
.textarea:focus,
.select:focus,
.toggle:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  
}

.textarea {
  resize: none;
}

.fileInput {
  padding: 0;
}

.submitButton {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
  background-color: var(--color-orange);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submitButton b {
 filter: drop-shadow(0 0 0.2rem var(--color-black));
}

.submitButton:hover {
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  color: var(--color-white);
}

.formGroup {
  margin-bottom: 20px; /* From RatingForm */
  margin: 0;
}

.toggleLabel {
  font-weight: bold;
  margin-left: 5px;
}

.checkboxGroup {
  display: flex;
  flex-direction: column; /* From RatingForm */
}

.checkboxLabel {
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-white); /* From RatingForm */
  padding: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.input-container {
  flex: 1;
  margin-right: 20px;
  margin-left: 0;
}
.artworkCategory {
  display: flex;
  justify-content: space-between;
}