@import "./assets/styles/Nav.module.css";
@import "./assets/styles/Auth.module.css";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

:root {
  --font-mono: 'Amatic SC', cursive;

  --color-orange: orange;
  --color-blue: #32acc0;

  --color-light-gray: #f0f0f0;
  --color-black: #000;
  --color-white: #fff;
  --color-gold: gold;
  
  --background-image: url('/background.jpeg');
  
  --background-gradient-midnight-blue: linear-gradient(135deg, #2c5364, #203a43, #0f2027);
  --background-gradient-blue-orange:   linear-gradient(0deg, #32acc0, orange);
  --background-transparent: rgba(255, 255, 255, 0.1);
  --background-black-transparent: rgba(000, 000, 000, 0.7);

  --border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* max-width: 900px; */
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 25px;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.custom-nav-spacer {
  height: 60px;
}

.custom-spacer {
  height: 15px;
}

b {
  color: var(--color-gold);
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}

.auth-form {
  margin-top: 0px;
}

.banner-weekly-phrase {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 0 25px;
  margin-top: -100px;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  /* Styles for laptops in fullscreen */

}

@media only screen and (max-width: 767px) {
  /* Styles specifically for phones */
  .auth-form {
    margin-top: -200px;
  }
}

/*  FloatingMenuButton Sty */

.floating-menu {
  position: fixed;
  bottom: 25px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 500;
}

.menu-button {
  background-color: transparent;
  color: var(--color-orange);
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  animation: pulse 1.5s ease-in-out infinite;
}

.menu-button:active {
  transform: translateY(8px);
}

.menu-dropdown {
  margin-top: 10px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  color: var(--color-white);
  animation: pulse 1.5s ease-in-out infinite;
  background: var(--background-gradient-blue-orange);
  background-size: 200% 100%;
  
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 10px var(--color-orange);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px black;
  }
}
/* animation: breathe 5s ease-in-out infinite; */
@keyframes breathe {
  0%, 100% {
    transform: scale(1);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.03);
    opacity: 1;
  }
}
@keyframes colorCycle {
  0% {
    border-color: #ff00cc;
  }
  33% {
    border-color: #00ccff;
  }
  66% {
    border-color: #ccff00;
  }
  100% {
    border-color: #ff00cc;
  }
}

.magic-box.color-cycle {
  border: 3px solid;
  animation: colorCycle 4s linear infinite;
}



.menu-item {
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bolder;
  border-bottom: 1px solid var(--color-orange);
}

.menu-item:hover {
  background: transparent;
  transition: all 0.5s;
  transform: scale(1.25);
  border-radius: 10px;
  background-color: var(--color-orange);
  color: var(--color-white);
}


/* Project Miniature */

.project-miniature-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  max-height: 300px;
  height: auto;

  overflow-x: auto;
  overflow-y: hidden;
}

.project-miniature {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--color-blue);;
  border-radius: 8px;
  width: 100px;
  height: 100px;

  margin-top: 20px;

  transition: all 0.2s;
}

.image-container .banner {
  position: absolute;
  top: 100px;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: var(--color-white); 
}

.image-container .banner h1 {
  margin: 0 0 10px;
  font-size: 0.5em;
}

.image-container .banner p {
  margin: 0;
  font-size: 0.5em;
}

.project-miniature:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.project-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.project-thumbnail-wrapper {
  max-width: 200px;
  border: 1px solid var(--color-blue);
  padding: 2px;
  background: var(--background-gradient-midnight-blue);
}
.project-thumbnail-judge {
  max-width: 200px;
  max-height: 200px; 
  border: 1px solid var(--color-blue);
  
}

.project-name {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

.bolder-text {
  font-weight: bolder;
}

.options-menu {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: var(--background-gradient-blue-orange);
  backdrop-filter: blur(100px);
  list-style: none;
  padding: 2px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  z-index: 10;
}

.options-menu li:hover {
  transition: all 0.5s;
  transform: scale(1.15);
  background: var(--color-orange);
}

.options-menu li {
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.2s ease;
  padding: 8px;
  border-radius: 6px;
}

.project-detail-container {
  padding: 10px;
  background: var(--background-transparent);
  backdrop-filter: blur(100px);
  border: 1px solid var(--background-transparent);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.project-detail-container img {
  max-width: 100%;
  height: auto;
  max-width: 200px;
  margin: 0 auto;
}

.project-miniature-custom-event .project-miniature, .project-miniature-custom-event .project-thumbnail {
  width: 120px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 5px;
}
.project-miniature-custom-artwork .project-miniature, .project-miniature-custom-artwork .project-thumbnail {
  margin-bottom: 5px;
}

.project-miniature-custom-event .project-miniature {
  background: linear-gradient(0deg, var(--color-blue), var(--color-orange));
}

.project-miniature-custom-event .project-thumbnail {
  width: 117px;
}

.project-miniature-custom-judge .project-miniature, .project-miniature-custom-judge .project-thumbnail {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.project-miniature-custom-judge .project-miniature {
	border: 1px solid var(--color-blue);
}

.project-miniature-custom-judge .project-thumbnail {
  width: 100%;
  height: auto;
}

.project-miniature-custom-artwork .project-miniature {
  background: linear-gradient(0deg, var(--color-blue), var(--color-orange));
  overflow: hidden;
}
.project-miniature-custom-artwork .project-thumbnail {
  width: 98px;
  height: 98px;
}

.upcoming-message {
  padding: 0 10px;
  height: 40px;
  background: var(--background-transparent);
  backdrop-filter: blur(100px);
  border: 1px solid var(--background-transparent);
}

/* CustomModal.css */

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

/* Modal Container */
.modal-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

/* Open Modal Animation */
.modal-container.open {
  transform: translateY(0);
}

/* Close Button */
.close-button {
  background: none;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: var(--color-blue);
}

/* Modal Content */
.modal-content {
  padding: 20px;
  overflow-y: auto;


}


/* SIDEBAR STYLES */

.sidebar {
  width: 75px;
  min-height: 750px; 
  background: var(--background-transparent);
  backdrop-filter: blur(100px);
  border-bottom: 1px solid var(--background-transparent); 
  border-left: 1px solid var(--background-transparent);
  border-right: 1px solid var(--background-transparent); 
  color: var(--color-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar nav a {
  color: var(--color-gold);
  text-decoration: none;
  font-size: 30px;
  margin-left: -18px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: -15px;

  filter: drop-shadow(0 0 0.2rem var(--color-black));
}

.sidebar nav a:hover {
  background-color: transparent; 
}

.top-spaced {
  margin-top: 25px;
}

.small-text-size {
  font-size: 12px;
}

.medium-text-size {
  font-size: 20px;
}

.big-text-size {
  font-size: 30px;
}

.modal-bg {
  background: var(--background-transparent);
  backdrop-filter: blur(50px); 
  border: 1px solid var(--background-transparent);
}

.deep-styled-icon {
  filter: drop-shadow(0 0 0.2rem var(--color-black));
}

.modal-title-centered {
  text-align: center; 
  margin-bottom: 25px;
}

.modal-title-centered b {
  font-size: 30px;
}

.floating-menu-button {
  font-size: 35px; 
  margin-bottom: -3px;
}

.project-miniature-link {
  text-decoration: none;
}

.banner-title {
  display: grid;
  place-items: center;
  width: auto;
  height: 200px;
}

.unauthorized-message-wrapper {
  display: grid;
  place-items: center; 
  width: 100%;
  height: 100vh;
}

.project-detail-wrapper {
  text-align: center;
  margin-bottom: 25px; 
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  animation: fadeIn 1s ease;
}
.banner-label {
  max-width: 400px; 
  margin: 0 auto;
  text-align: center; 
  padding: 0 25px;
  margin-top: -100px;
}
.artwork-links {
  font-size: 16px;
  color: var(--color-orange);
}
.overflow--big-area {
  background: var(--background-gradient-midnight-blue);
  background-size: 400% 400%;
  background-attachment: fixed;
  backdrop-filter: blur(100px);
  border-radius: 12px; 
  color: var(--color-white); 
  border: 1px solid var(--background-transparent); 
  width: 100%; 
  margin: 0 auto; 
  height: 215px;
  overflow-y: auto;
  padding: 10px 20px;
  font-size: 14px;  
}

.overflow-area {
  background: white;
  backdrop-filter: blur(100px); 
  border: 1px solid var(--background-transparent); 
  border-radius: 10px; 
  color:var(--color-orange); 
  border: 1px solid var(--background-transparent); 
  width: 100%; 
  max-width: 500px; 
  margin: 0 auto; 
  height: 100%;
  max-height: 150px;
  overflow-y: auto; 
  padding: 5px 10px;
  font-size: 14px;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

/* Animated Background Container */
.animated-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

/* Glowing floating particles */
.particle {
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--background-transparent);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--background-transparent);
  animation: floatUp linear infinite;
}

/* Keyframes for particle movement */
@keyframes floatUp {
  0% {
    transform: translateY(100%) scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20%) scale(1.2);
    opacity: 0;
  }
}

/* Different particles with varying positions & speeds */
.particle:nth-child(1) { left: 5%; animation-duration: 6s; animation-delay: 0s; }
.particle:nth-child(2) { left: 20%; animation-duration: 9s; animation-delay: 1s; }
.particle:nth-child(3) { left: 40%; animation-duration: 7s; animation-delay: 2s; }
.particle:nth-child(4) { left: 60%; animation-duration: 8s; animation-delay: 3s; }
.particle:nth-child(5) { left: 80%; animation-duration: 11s; animation-delay: 4s; }

/* Ensure text stays readable above animation */
.overflow--big-area > * {
  position: relative;
  z-index: 1;
}

.price-text {
  color: var(--color-orange);
  filter: drop-shadow(0 0 0.2rem var(--color-black));
  font-size: 12px;
}

.stars-container {
  width: 80px;
  font-size: 12px;
  height: 15px;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

.selected-artworks-list {
  height: 100px;
  overflow: auto;
  padding: 10px 20px;
  border: 1px solid var(--background-transparent);
  border-radius: 10px;
}

.title-artworks-container {
  position: absolute;
  font-size: 10px;
  height: 15px;
  margin-top: -17px;
  margin-left: 0px;
  text-align: left;
  /* overflow: auto; */
}

.clap-button-wrapper {
  text-align: center; 
  position: relative;
}

.clap-button {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.reaction-face {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  font-size: 2rem;
  opacity: 1;
  animation: fadeOutScale 1.5s forwards;
}

.clap-count {
  font-size: 1rem; 
  margin-top: 4px; 
  color: #fff;
}

.claps-container {
  width: 80px;
  font-size: 12px;
  height: 15px;
  margin-top: -20px;
  margin-left: -25px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;   
  text-overflow: ellipsis; 
}

.judges-badge {
  width: auto;
  padding: 1px;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.2rem var(--color-white));
  margin-bottom: -50px;
  margin-left: 35px;
}

.badge-orange {
  background-color: var(--color-orange);
}

.badge-blue {
  background-color: var(--color-blue);
}

.badge-white {
  background-color: var(--color-white);
}

.image-container-author {
  position: absolute; 
  margin-left: 78px; 
  margin-top: -10px;
  filter: drop-shadow(0 0 0.2em var(--color-black));
}

.prevent-scroll {
  overflow: hidden;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;  
  align-items: center; 
  height: 100vh;  
  width: 100vw; 
}



/* Project Settings Cards Miniature */

.pCard_card {
  width: 100%;
  max-width: 380px;
  height: 615px;
  margin: 50px auto;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  
}

.animated-icon-pulse-effect {
  animation: pulseGlow 1s infinite;
  margin-top: 0px; 
  margin-left: 25px;
}

.close-button-not-visible {
  position: absolute;
  left: 0;
  text-decoration: none;
  color: var(--color-white);
  background: transparent;
  border: none;
}

.close-button-not-visible-text {
  font-size: 12px; 
  color: var(--color-orange);
}

.close-button-visible {
  position: absolute;
  right: 10px;
  top: 15px;
  text-decoration: none;
  color: var(--color-white)white;
  background: transparent;
  border: none;
}

/****************
Back
****************/

.pCard_card .pCard_back {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -139px;
  font-weight: 600;
  z-index: 1;
}
.pCard_card .pCard_back a {
  text-decoration: none;
}

/****************
UP
****************/

.pCard_card .pCard_up {
  position: absolute;
  width: 100%;
  height: 437px;
  background-image: url(https://i1.sndcdn.com/artworks-MWzoFF6y5vY1ZuoP-mjZSoA-t500x500.jpg);
  background-position: 50%;
  background-size: cover;
  z-index: 3;
  text-align: center;
  -webkit-border-top-left-radius: 30px;
  -moz-border-top-left-radius: 30px;
  -ms-border-top-left-radius: 30px;
  -o-border-top-left-radius: 30px;
  border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-top-right-radius: 30px;
  -ms-border-top-right-radius: 30px;
  -o-border-top-right-radius: 30px;
  border-top-right-radius: 30px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.pCard_edit_inputs {
  margin-top: -50px;
}

.pCard_edit_inputs > input {
  margin: 5px 0;
  width: auto;
  height: 35px;
}

.pCard_on .pCard_up {
  height: 100px;
  box-shadow: 0 0 30px #cfd8dc;
}

.pCard_card .pCard_up .pCard_text {
  position: absolute;
  top: 319px;
  left: 0;
  right: 0;
  color: #f1f7f9;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.pCard_on .pCard_up .pCard_text {
  top: 20px;
}

.pCard_card .pCard_up .pCard_text h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
}

.pCard_card .pCard_up .pCard_text p {
  margin: 0;
  font-size: 16px;
  color: var(--color-orange);
}

.pCard_card .pCard_up .pCard_add {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: var(--color-orange);
  position: absolute;
  top: 392px;
  left: 0;
  right: 0;
  margin: auto;
  width: 88px;
  height: 88px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.pCard_on .pCard_up .pCard_add {
  -webkit-transform: rotate(360deg) scale(0.5);
  -moz-transform: rotate(360deg) scale(0.5);
  -ms-transform: rotate(360deg) scale(0.5);
  -o-transform: rotate(360deg) scale(0.5);
  transform: rotate(360deg) scale(0.5);
  top: 470px;
}

/****************
Down
****************/



.pCard_on .pCard_down {
  height: 100px;
}
.pCard_on .pCard_down div {
  margin-top: 10px;
}

.pCard_card .pCard_down div p:first-of-type {
  color: #68818c;
  margin-bottom: 5px;
}

.pCard_card .pCard_down div p:last-of-type {
  color: #334750;
  font-weight: 700;
  margin-top: 0;
}
.pCard_card .pCard_back a i {
  margin: 10px;
  padding: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.pCard_card .pCard_back a i:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.pCard_card .pCard_up .pCard_add i {
  color: var(--color-white);
  font-size: 38px;
  line-height: 88px;
}

.social-media-icons {
  margin: 35px;
}

.external-logins {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 25px;
  margin-top: 10px;
  border-radius: 50%;
}

.external-logins .google-login {
  font-size: 2rem;
  border: 1px solid var(--color-white);
  border-radius: 10px;
  padding: 0 5px;
  transition: all 0.5s;
}

.external-logins .google-login:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

















/* Profile Card */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-gradient-blue-orange);
  padding: 2rem;
  border-radius: 20px;
  max-width: 550px;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  animation: fadeIn 1s ease;
  
}

.profile-pic-label-custom {
  text-align: center; 
  cursor: pointer; 
  margin: 0 auto; 
  left: 0px; 
  right: 0px; 
  display: block;
}

.profile-pic-label {
  position: relative;
  display: inline-block;
  margin-bottom: 35px;
  margin-left: 10%;
  cursor: pointer;
}

/* .profile-pic-label::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 60px;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(#00ffe0 0%, transparent 70%);
  animation: pulseGlow 1s infinite;
  z-index: 0;
}
.profile-pic-label-2::before {
  content: '';
  position: absolute;
  top: 75px;
  left: 75px;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(#00ffe0 0%, transparent 70%);
  animation: pulseGlow 1s infinite;
  z-index: 0;
} */

.profile-pic-label::after {
  content: "📷";
  position: absolute;
  bottom: 50px;
  right: 15%;
  font-size: 1.4rem;
  background: var(--background-transparent);
  padding: 5px 8px;
  border-radius: 50%;
  color: var(--color-white);
  z-index: 2;
  transition: transform 0.3s ease;
}

.profile-pic {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 4px solid var(--color-white);
  z-index: 1;
  transition: opacity 0.3s ease;
}

.profile-pic:hover {
  opacity: 0.7;
}

@keyframes pulseGlow {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.input-group .disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.role-change-button {
  color: var(--color-white);
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  float: right;
  width: 43%;
  margin-top: -2px;
  margin-left: 25px;
}

@media only screen and (max-width: 767px) {
  .space-around {
    margin-top: 80px;
  }
}

.input-group {
  position: relative;
  margin-bottom: 1rem;
  padding: 2px 0;
  width: 100%;
  max-width: 300px;
}

.input-group label {
  position: absolute;
  left: 0px;
  top: -5px;
  transform: translateY(-50%);
  padding: 0 5px;
  color: #fff;
  transition: all 0.2s ease;
  font-size: 0.8rem;
  font-weight: bolder;
  pointer-events: none;
}

.input-group input {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: gold;
  box-shadow: 0 0 8px var(--color-orange);
  color: var(--color-white);
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: 0;
  left: 10px;
  font-size: 0.75rem;
  color: var(--color-orange);
}

.register-button {
  position: fixed;
  top: -10px;
  right: -10px;
}

.thumbnail-register {
  margin: 0 auto;
  width: 200px;
  height: auto;
  margin-bottom: 35px;
  margin-top: -5px;
  border: 1px solid var(--color-blue);
  padding: 15px;
}

.artworks-miniature-panel .project-miniature, .artworks-miniature-panel .project-thumbnail {
  width: 60px;
  height: 60px; 
}

.artworks-miniature-panel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: auto;
}

.festivartes-miniature-panel .project-miniature, .festivartes-miniature-panel .project-thumbnail {
  width: 70px;
  height: 100px; 
}

.festivartes-miniature-panel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: auto; 
}

.mTop-30 {
  margin-top: -30px;
}

.mTop-5 {
  margin-top: -5px;
}
.mTop-10 {
  margin-top: -10px;
}

.mTop-15 {
  margin-top: -15px;
}
.mTop-25 {
  margin-top: -25px;
}
.mTop-20 {
  margin-top: -25px;
}
.mTop-30 {
  margin-top: -25px;
}
.copy-link-wrapper {
  margin-bottom: 10px;
  cursor: pointer;
}
.margin-0-auto {
  margin: 0 auto;
}

.input-group-custom-wrapper {
  display: flex; 
  justify-content: space-between;
}
.color-orange {
  color: var(--color-orange);
}

.forgot-password-link {
  color: var(--color-white);
  text-decoration: none; 
  cursor: pointer; 
  padding: 5px;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}
.social-share-container {
  text-align: center;
  position: relative;
}

.social-share-text {
  font-size: 1rem; 
  margin-top: 10px;
  color: #fff;
}

.social-share-icon {
  font-size: 2rem;
  cursor: pointer; 
  color: #fff;
}
.pointer {
  cursor: pointer;
}
.average-rating {
  font-size: 0.8rem;
  color: #fff;
  margin-bottom: 6px;
}

.star-raiting-container {
  display: flex; 
  justify-content: center;
  gap: 8px;
}

.judge-button-rate {
  position: fixed; 
  bottom: 0; 
  right: 0; 
  z-index: 30; 
  width: 100%;
}
.io-settings-icon {
  margin-left: 10px; 
  margin-top: -5px;
}
.drop-shadow {
  filter: drop-shadow(0 0 0.2rem var(--color-black));
}
.animate-pulse-infinite {
  animation: pulse 1.5s ease-in-out infinite;
}
.links-spaced {
  width: 100%;
}
.font-size-3rem {
  font-size: 3rem;
}
.error-message {
  text-align: center; 
  color: red; 
  background: black; 
  border-radius: 10px; 
  width: 180px;
  margin: 0 auto; 
  padding: 10px;
}
.mTop8 {
  margin-top: 8px;
}
.reset-password-link {
  text-align: center;
  border: 1px solid gray; 
  border-radius: 25px; 
  padding: 5px; 
  width: 200px;
  margin: 0 auto; 
}

.color-light-gray {
  color: var(--color-light-gray);
}

.font-size-title {
  font-size: 3rem;
}
.close-session-link {
  color: var(--color-white); 
  text-decoration: none;
}
.go-to-profile-container {
  position: absolute;
  top: 0px;
  right: 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
  background: var(--color-blue);
  width: 100%;
}

.menu-floating-button {
  background: var(--color-orange); 
  border-radius: 50%;
  padding: 10px; 
  border: 2px solid var(--color-white);
}
.notification-header {
  position: fixed; 
  background: var(--color-blue);
  padding: 10px; 
  border-top-right-radius: 10px; 
  border-top-left-radius: 10px; 
  color: var(--color-white); 
  margin-top: -10px;
  margin-left: -10px;
  width: 320px;
}
.clap-button-preloader {
  text-align: center; 
  position: relative; 
  width: 50px;
}

.caldendar-button {
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}
.selected-artwork-item {
  font-size: 0.8rem; 
  margin-bottom: 10px;
}
.project-info-category {
  width: 300px; 
  margin: 0 auto;
  color: lightgray;
}

.project-info-small-text {
  font-size: 12px;
}
.modal-submit-buttons {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}
.list-style-type-none {
  list-style-type: none;
  padding: 0;
}
.share-icons-container  {
  margin-top: 10px;
  background: var(--background-gradient-midnight-blue);
  font-size: 1rem;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  min-width: 180px;
}

.calendar-button {
  cursor: pointer; text-align: center; margin-top: 20px;
}
.color-black {
  color: var(--color-black);
}






.tabs {
  display: flex;
  align-items: center;   /* Align items to the right */
  margin: 0 auto;
  margin-top: 100px;
  gap: 10px;
}
.tabs button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: var(--background-transparent);
  backdrop-filter: blur(100px);
  color: var(--color-white);
}
.tabs button:hover {
  transition: all 0.5s;
  background: var(--color-orange);
}
.tabs button.active {
  transition: all 0.5s;
  transform: scale(1.15);
  background: var(--color-orange);
  color: var(--color-white);
}
.tab-content {
  padding: 10px 0;
  border-radius: 5px;
  height: 100%;
  min-height: 350px;
  width: 100%;
}
.carousel {
  text-align: center;
  background: #222;
  padding: 5px 0;
  color: var(--color-white);
  border-radius: 10px;
}
.controls {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}









.audio-player {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #222;
  padding: 10px;
  border-radius: 8px;
  color: var(--color-white);
  filter: drop-shadow(0 0 0.1rem var(--color-black));
}
.player-controls {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
}








.link-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: var(--background-transparent);
  backdrop-filter: blur(100px);
  border-radius: 5px;
  margin-bottom: 10px;
  color: var(--color-blue);
  cursor: pointer;
}

.chatToggle {
  position: fixed;
  top: 10px;
  right: 120px;
  z-index: 100;
  background: var(--color-orange);
  color: white;
  border: 1px solid var(--color-white);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}

.chatSidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 280px;
  height: 100dvh;
  z-index: 2000;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  background: var(--background-black-transparent);
  backdrop-filter: blur(100px);
  border: 1px solid var(--color-white);
}

.chatSidebar.open {
  right: 0;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: var(--color-orange);
  color: var(--color-white);
  border: 1px solid var(--color-blue);
}

.chatContent {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
}

.chatInput {
  display: flex;
  padding: 10px;
  background: var(--background-transparent);
  backdrop-filter: blur(100px);
  border-top: 1px solid #ccc;
  
}

.chatInput input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
  
.chatInput button {
  background-color: var(--color-orange);
  color: var(--color-white);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.closeButton {
  background: none;
  border: none;
  color: var(--color-white);
  font-size: 20px;
  cursor: pointer;
}

.adminMessage {
background-color: var(--background-transparent);
backdrop-filter: blur(100px);
padding: 10px;
border-radius: 10px;
margin: 10px 0;
}

.disabled-miniature {
  opacity: 0.5;
  pointer-events: none;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
  border-radius: 6px;
}

.lock-overlay {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

/* 🔐 Animation */
.animated-lock {
  animation: pulseLock 1.8s infinite ease-in-out;
}

@keyframes pulseLock {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}



